
section.cta
    .container
        .row.align-items-center.justify-content-center.text-center
            .col-sm-12
                .box
                    h2 Send Us a Message
                    p.text-white We Look Forward To You adipisicing elit. Libero veritatis aspernatur consequuntur quidem laudantium natus cum vitae ab eaque.
                a#freeQuote.global-svg(href="#").text-white.mt-3 Get In Touch
                    svg
                        rect(x="0" y="0" fill="none" width="100%" height="100%")
