footer#footer
    .top-footer
        h2.title-section Reach us
        .row
            ul.col-xl.col-lg-4.col-sm-6.block
                li
                    h5 London &nbsp;
                        small Head Office
                    address
                        | Telephone : &nbsp;
                        a(href='tel:(+44) 11569-71177') (+44) 11569-71177
                        br
                        | Fax : &nbsp;
                        a(href='tel:.') .
                        br
                        | London, Glendower Mansion, SW7 3DS, 2nd Flat.
                        br
                        | Email : &nbsp;
                        a(href='mailto:Info@Icons-Agency.Com', target='_top') Info@Icons-Agency.Com
            ul.col-xl.col-lg-4.col-sm-6.block
                li
                    h5 Egypt Office
                    address
                        | Telephone : &nbsp;
                        a(href='tel:(+2) 012002-77117') (+2) 012002-77117
                        br
                        | Fax : &nbsp;
                        a(href='tel:(+2) 02275-10621') (+2) 02275-10621
                        br
                        | Cairo, Maadi, Street 23, Building No. 10, 6th Floor.
                        br
                        | Email : &nbsp;
                        a(href='mailto:Info@Icons-Agency.com', target='_top') Info@Icons-Agency.com
            ul.col-xl.col-lg-4.col-sm-6.block
                li
                    h5 Kuwait Office
                    address
                        | Telephone : &nbsp;
                        a(href='tel:(+965) 9892-8789') (+965) 9892-8789
                        br
                        | Fax : &nbsp;
                        a(href='tel:(+965) 2221-3750') (+965) 2221-3750
                        br
                        | Kuwait City, Al Soor Street, Al Tijaria Tower, 31st Floor.
                        br
                        | Email : &nbsp;
                        a(href='mailto:Info@Icons-Agency.Com', target='_top') Info@Icons-Agency.Com
            ul.col-xl.col-lg-4.col-sm-6.block
                li
                    h5 Saudi Arabia Office
                    address
                        | Telephone : &nbsp;
                        a(href='tel:(+966) 01146-02735') (+966) 01146-02735
                        br
                        | Fax : &nbsp;
                        a(href='tel:(+966) 01146-23460') (+966) 01146-23460
                        br
                        | Riyadh, Olaya Street Khaldiyeh Center, 5th Floor.
                        br
                        | Email : &nbsp;
                        a(href='mailto:Info@Icons-Agency.Com', target='_top') Info@Icons-Agency.Com
                        ul.col-md-6.col-12
                li
            .col-xl.col-lg-4.col-sm-6.block
                p.connect Stay Connected With Us
                ul.social-links.d-flex.flex-nowrap
                    li
                        a.social-link.facebook(title='ICONS on Facebook', href='https://www.facebook.com/egicons', target='_blank')
                            span.fab.fa-facebook-f
                    li
                        a.social-link.twitter(title='ICONS on Twitter', href='https://twitter.com/egicons', target='_blank')
                            span.fab.fa-twitter
                    li
                        a.social-link.instagram(title='ICONS on Instagram', href='https://www.instagram.com/iconsegypt/', target='_blank')
                            span.fab.fa-instagram
                    li
                        a.social-link.youtube(title='ICONS on Youtube', href='https://www.youtube.com/channel/UC2mKNKvudOHYOWi2Xif2lZQ?view_as=subscriber', target='_blank')
                            span.fab.fa-youtube
                    li
                        a.social-link.linkedin(title='ICONS on Linkedin', href='https://www.instagram.com/iconsegypt/', target='_blank')
                            span.fab.fa-linkedin-in
                a.chat(href='https://m.me/egicons', target='_blank')
                    |  Chat With Us On Facebook
    .bottom-footer.mt-5.text-center
        .row
            .col-12
                p.rights All Rights Reserved &copy; 2019 &nbsp; Made with love
                    i.fa.fa-heart.animated.infinite.heartBeat
                    | in
                    a(href="http://v2.icons-agency.com")                    
                        img.logo(src='img/darkLogo.png', alt='ICONS', draggable='false')


