- var PageTitle = 'Blog - ICONS Agency';
doctype
html
    head
        include partials/head
        include partials/style
    body

        //- Create Preload Page

        #preloader
            .loading LOADING ...

        include partials/btn-top

        include partials/header

        .fixed-breadcrumb
            strong &larr; &nbsp; Our Blog
            | — Overview
            
        section.blog-banner.showcase
            .container
                .inner-banner
                    h1.display-4 Blog
                    p Be aware of the latest articles and topics tackled worldwide.

        section.blog-section
            .container
                h2.title-section.text-center Let's Learn Something New
                .flex-box
                    .box
                        img(class='img-fluid' src='http://v2.icons-agency.com/public/uploads/blogs/s_1544625167706690.png', alt='blog image')
                        .text
                            p
                                span.far.fa-calendar-alt
                                | 2018-12-12 &nbsp; 16:33:35
                            h3
                                a(href='single-blog.html') 10 Questions to Ask Before Buying CRM
                    .box
                        img(class='img-fluid' src='http://v2.icons-agency.com/public/uploads/blogs/s_1553499489148696.png', alt='blog image')
                        .text
                            p
                                span.far.fa-calendar-alt
                                | 2019-03-25 &nbsp; 09:38:21
                            h3
                                a(href='single-blog.html') You Won’t Believe these Artificial Intelligence Applications
                    .box
                        img(class='img-fluid' src='http://v2.icons-agency.com/public/uploads/blogs/s_1553087447118373.png', alt='blog image')
                        .text
                            p
                                span.far.fa-calendar-alt
                                | 2019-03-20 &nbsp; 15:11:05
                            h3
                                a(href='single-blog.html') The Biggest 4 Challenges of Implementing AI in Enterprises
                    .box
                        img(class='img-fluid' src='http://v2.icons-agency.com/public/uploads/blogs/s_1553087447118373.png', alt='blog image')
                        .text
                            p
                                span.far.fa-calendar-alt
                                | 2019-03-20 &nbsp; 15:11:05
                            h3
                                a(href='single-blog.html') The Biggest 4 Challenges of Implementing AI in Enterprises
                    .box
                        img(class='img-fluid' src='http://v2.icons-agency.com/public/uploads/blogs/s_1553087447118373.png', alt='blog image')
                        .text
                            p
                                span.far.fa-calendar-alt
                                | 2019-03-20 &nbsp; 15:11:05
                            h3
                                a(href='single-blog.html') The Biggest 4 Challenges of Implementing AI in Enterprises
                    .box
                        img(class='img-fluid' src='http://v2.icons-agency.com/public/uploads/blogs/s_1553087447118373.png', alt='blog image')
                        .text
                            p
                                span.far.fa-calendar-alt
                                | 2019-03-20 &nbsp; 15:11:05
                            h3
                                a(href='single-blog.html') The Biggest 4 Challenges of Implementing AI in Enterprises



        include partials/footer
        include partials/footerScripts
        
