- var PageTitle = 'Careers - ICONS Agency';
doctype
html
    head
        include partials/head
        include partials/style
    body

        //- Create Preload Page

        #preloader
            .loading LOADING ...

        include partials/btn-top

        include partials/header

        .fixed-breadcrumb
            strong &larr; &nbsp; Our Careers 
            | — Overview
            
        section.careers-banner.showcase
            .container
                .inner-banner
                    h1.display-4 Our careers
                    p Join Our Team

        section.careers-section
            .container
                h2.title-section.text-center Join Our Team
                p.text-center We’re looking for smart, kind, and reliable<br> individuals with a desire to teach and learn. Is that you?
                .row.align-items-stretch
                    .col-lg-4.col-md-6
                        .career-list
                            .logo
                                img(src='http://placehold.it/90x90' alt='alternative text')
                            h4 Senior PHP Developers
                            .links
                                a.more-details(href='career-details.html') More details
                    .col-lg-4.col-md-6
                        .career-list
                            .logo
                                img(src='http://placehold.it/90x90' alt='alternative text')
                            h4 Web Designer
                            .links
                                a.more-details(href='career-details.html') More details
                    .col-lg-4.col-md-6
                        .career-list
                            .logo
                                img(src='http://placehold.it/90x90' alt='alternative text')
                            h4 Copy Writer
                            .links
                                a.more-details(href='career-details.html') More details
                    .col-lg-4.col-md-6
                        .career-list
                            .logo
                                img(src='http://placehold.it/90x90' alt='alternative text')
                            h4 Senior PHP Developers
                            .links
                                a.more-details(href='career-details.html') More details
                    .col-lg-4.col-md-6
                        .career-list
                            .logo
                                img(src='http://placehold.it/90x90' alt='alternative text')
                            h4 Web Designer
                            .links
                                a.more-details(href='career-details.html') More details
                    .col-lg-4.col-md-6
                        .career-list
                            .logo
                                img(src='http://placehold.it/90x90' alt='alternative text')
                            h4 Copy Writer
                            .links
                                a.more-details(href='career-details.html') More details

        include partials/footer
        include partials/footerScripts
        
