- var pageTitle = 'Blog Title - ICONS Agency';
doctype
html
    head
        include partials/head
        include partials/style
    body
        
        //- Create Preload Page

        #preloader
            .loading LOADING ...

        include partials/btn-top

        include partials/header

        .fixed-breadcrumb
            strong &larr; &nbsp; Our Blog
            | — Overview
            
        section.single-blog-banner.showcase
            .container
                .inner-banner
                    h1.display-4 Blog Title
                    p
                        span.far.fa-calendar-alt
                        | 2019-03-25 &nbsp; 09:38:21 

        section.single-blog-section
            .container
                .row
                    .col-lg-8
                        .col-12 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laudantium officiis at, vel eaque doloribus? Iusto, distinctio consequuntur. Laboriosam, neque vero! Numquam dolor quas laboriosam consequatur error aliquam ipsum quisquam.
                        .col-12 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab laudantium officiis at, vel eaque doloribus? Iusto, distinctio consequuntur. Laboriosam, neque vero! Numquam dolor quas laboriosam consequatur error aliquam ipsum quisquam.
                        .col-12 
                            h3 Blog Title
                        .col-12 
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores reprehenderit perferendis excepturi, consectetur culpa voluptatum? Perferendis minus sed sapiente eum dignissimos! Eius eligendi molestiae, modi fugit aliquam nihil ullam?
                        .col-12 
                            h3 Blog Title
                        .col-12 
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores reprehenderit perferendis excepturi, consectetur culpa voluptatum? Perferendis minus sed sapiente eum dignissimos! Eius eligendi molestiae, modi fugit aliquam nihil ullam?
                        .col-12 
                            h3 Blog Title
                        .col-12
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores reprehenderit perferendis excepturi, consectetur culpa voluptatum? Perferendis minus sed sapiente eum dignissimos! Eius eligendi molestiae, modi fugit aliquam nihil ullam?
                        .col-12 
                            h3 Blog Title
                        .col-12 
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus maiores reprehenderit perferendis excepturi, consectetur culpa voluptatum? Perferendis minus sed sapiente eum dignissimos! Eius eligendi molestiae, modi fugit aliquam nihil ullam?
                        .col-12
                            h4.mt-5 Share this post :
                            ul.social-links.d-flex
                                li
                                    a.facebook(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fv2.icons-agency.com%2Fen%2Fblog%2Fthe-biggest-4-challenges-of-implementing-ai-in-enterprises")
                                        span.fab.fa-facebook-f
                                li
                                    a.twitter(href="https://twitter.com/intent/tweet?text=Despite%20that%2C%20AI%20is%20a%20dominant%20technology%20in%202019.%20But%2C%20there%20are%20many%20hurdles%2C%20obstacles%20and%20challenges%20to%20implementing%20AI%20that%20enterprises%20still%20face.%0AWhat%20are%20these%20challenges%20and%20how%20to%20overcome%20them%3F%20That%E2%80%99s%20what%20we%E2%80%99re%20going%20to%20tackle%20in%20the%20below.&url=http%3A%2F%2Fv2.icons-agency.com%2Fen%2Fblog%2Fthe-biggest-4-challenges-of-implementing-ai-in-enterprises&original_referer=https%3A%2F%2Ftwitter.com%2Fshare%3Furl%3Dhttp%253A%252F%252Fv2.icons-agency.com%252Fen%252Fblog%252Fthe-biggest-4-challenges-of-implementing-ai-in-enterprises%26text%3DDespite%2520that%252C%2520AI%2520is%2520a%2520dominant%2520technology%2520in%25202019.%2520But%252C%2520there%2520are%2520many%2520hurdles%252C%2520obstacles%2520and%2520challenges%2520to%2520implementing%2520AI%2520that%2520enterprises%2520still%2520face.%250AWhat%2520are%2520these%2520challenges%2520and%2520how%2520to%2520overcome%2520them%253F%2520That%25E2%2580%2599s%2520what%2520we%25E2%2580%2599re%2520going%2520to%2520tackle%2520in%2520the%2520below.")
                                        span.fab.fa-twitter
                                li
                                    a.google(href="https://plus.google.com/up/?continue=https://plus.google.com/share?url%3Dhttp://v2.icons-agency.com/en/blog/the-biggest-4-challenges-of-implementing-ai-in-enterprises")
                                        span.fab.fa-google
                                li
                                    a.pinterest(href="https://www.pinterest.com/pin/find/?description=Despite%20that%2C%20AI%20is%20a%20dominant%20technology%20in%202019.%20But%2C%20there%20are%20many%20hurdles%2C%20obstacles%20and%20challenges%20to%20implementing%20AI%20that%20enterprises%20still%20face.%0AWhat%20are%20these%20challenges%20and%20how%20to%20overcome%20them%3F%20That%E2%80%99s%20what%20we%E2%80%99re%20going%20to%20tackle%20in%20the%20below.&url=http%3A%2F%2Fv2.icons-agency.com%2Fen%2Fblog%2Fthe-biggest-4-challenges-of-implementing-ai-in-enterprises")
                                        span.fab.fa-pinterest
                                li
                                    a.linkedin(href="https://www.linkedin.com/shareArticle/?mini=true&url=http%3A%2F%2Fv2.icons-agency.com%2Fen%2Fblog%2Fthe-biggest-4-challenges-of-implementing-ai-in-enterprises")
                                        span.fab.fa-linkedin-in

                    .col-lg-4.widget
                        h3 Recent Posts
                        ul.widget-posts
                            li
                                .widget-posts-descr
                                    a(href="single-blog.html" title="") AI-Powered Smartphones
                                    br 
                                    | 2019-04-08 17:08:24
                            li
                                .widget-posts-descr
                                    a(href="single-blog.html" title="") You Won’t Believe these Artificial<br> Intelligence Applications
                                    br 
                                    | 2019-03-25 09:38:21
                            li
                                .widget-posts-descr
                                    a(href="single-blog.html" title="") What are the 3Vs of Big Data?
                                    br 
                                    | 2019-03-07 17:05:22
                            li
                                .widget-posts-descr
                                    a(href="single-blog.html" title="") The Main 4 Types of Artificial Intelligence
                                    br 
                                    | 2019-03-04 14:43:22
                            li
                                .widget-posts-descr
                                    a(href="single-blog.html" title="") Gartner Symposium/ITxpo 2019
                                    br 
                                    | 2019-02-27 14:30:30
                            li
                                .widget-posts-descr
                                    a(href="single-blog.html" title="") What is IOT and How it Will<br> Change the World?
                                    br 
                                    | 2019-02-26 10:34:56


        include partials/footer
        include partials/footerScripts
        
