.cta {
    padding: 2rem 0;
    background: #077fff;
    h2 {
        color: #fff;
    }
    p {
        color: #ddd;
        margin: 1rem 0;
        width: 50%;
        margin: auto;
    }
    .global-svg{
        rect {
            stroke: #ddd;
        }
    }   
}