

// start header style

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 333;
    transition: all .3s linear;
    &.scrolled {
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        height: 87px;
        .top-header {
            height: 0 !important;
            line-height: 0 !important;
            opacity: 0;
            transition: all .2s linear;
        }
    }
    @media (max-width: 767px) {
        &.scrolled {
            height: 80px;
        }
    }
    &.hide {
        top: -120px;
    }    
    &.active {
        top: 0 !important;
    }
    .container {
        @media (max-width: 767px) and (min-width: 575px) {
            max-width: 600px;
        }
        @media (max-width: 992px) and (min-width: 768px) {
            max-width: 850px;
        }
    }
}
.top-header {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: all .2s linear;
    .flex-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
    .left-side {
        .support-login {
            line-height: 35px;
            a {
                color: $primaryColor;
                font-weight: 600;
            }
            @media(max-width: 767px) {
                display: none;
            }
        }
    }
    .right-side {
        display: flex;
        align-items: center;
        .dropdown {
            margin-right: 1rem;
            .dropdown-toggle::after {
                border-top-color: $primaryColor;
                vertical-align: middle;
            }    
            a {
                display: block;
                line-height: 2;
                font-size: .9rem;
                font-weight: 600;
                color: $primaryColor;
                transition: all .2s linear;    
                &:hover {
                    color: #000;
                }
            }    
            .dropdown-menu {
                padding: .5rem;
                min-width: 12rem;
                top: 10px !important;
                left: -50px !important;
                background: #fff;
    
                img {
                    margin-right: .3rem;
                    border-radius: 50%;
                }
            }
            @media (max-width: 500px) {
                display: none;
            }
        }
        .ourDirectContact {
            line-height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: $primaryColor;
                font-size: 1rem;
                font-weight: 500;
                margin: 0 .5rem;
                text-align: center;
                display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 400px) {
                    font-size: .6rem;
                }
                i {
                    display: inline-block;
                }
                i.fa-phone {
                    transform: rotate(100deg);
                    font-size: .8rem;
                    @media (max-width: 575px) {
                        font-size: .7rem;
                    }
                }
                span {
                    display: inline-block;
                    padding-left: .5rem;
                    @media (max-width: 575px) {
                        padding-left: .2rem;
                    }
                }
            }
            .line {
                font-size: 2rem;
                color: rgba(0, 0, 0, .7);
            }
        }
    }
}
.horizontal-navbar {
    width: 100%;
    padding: 1rem 0;
    .flex-items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


//  toggle button style

    .togglebutton {
        position: relative;
        z-index: 444;
        width: 60px;
        height: 60px;
        padding-left: .6rem;
    
        background: $mainColor;
        border-radius: 100%;
        border-top-right-radius: 15%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        
        display: inline-flex;
        align-items: center;
        
        font-size: 1rem;
        cursor: pointer;
        overflow: hidden;
        transition: padding .0s linear;
        @media (min-width: 768px) {
            &:hover{
                padding-left: .4rem;
            }
        }
        @media(max-width: 767px) {
            width: 50px;
            height: 50px;
            justify-content: center;
            padding: 0;
        }
        & > span {
            opacity: 0;
            margin-top: 3px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            position: relative;
            display: inline-block;
    
            transform: translatey(-10px);
            transition: all .3s linear;    
            &:first-child,
            &:last-child {
                transform: translatey(10px);
            }
            @media(max-width: 767px) {
                display: none;
            }
        }    
        .bars {
            position: relative;
    
            display: block;
            opacity: 1;
    
            width: 15px;
            height: 2px;
    
            margin: 1px 1px 0;
    
            background: #fff;
            box-shadow: 0 -4px 0 #fff, 0 4px 0 #fff;
            transform: translatey(0) rotate(0);
    
            transition: transform .3s .0s, box-shadow .3s .5s;    
            &:before {
                content: '';
                position: absolute;
                top: -150px;
                left: 50%;
    
                opacity: 0;
                transform: translate(-50%, -50%);
                transition: .5s;
                transition-delay: .5s;
    
                background: #fff;
                width: 1px;
                height: 15px;
            }
        }    
        &:hover span {
            opacity: 1;
            transform: translatey(0);
        }
    }

//  logo style

    .logo {
        width: 120px;
        margin-top: -1.5rem;
        transition: all .5s linear;
        @media (max-width: 575px) {
            width: 100px;
            margin-top: -1rem;
        }
        img {
            width: 100%;
        }
    }

// list items style
    
    .list-item {
        display: flex;
        align-items: center;
        @media(max-width: 767px) {
            display: none;
        }        
        & > a {
            position: relative;
            display: inline-block;
            color: $primaryColor;
            font-weight: 600;
            margin-right: 1.5rem;
            transition: all .3s linear;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: $mainColor;
                transition: all .2s cubic-bezier(.53,.2,.54,1.33);
            }

            &:hover:after {
                width: 100%;
            }
        }
    }

    .quote {
        display: block;
        position: relative;
        background: none;
        outline: none;
        border: none;
        font-size: 1.4rem;
        font-weight: 500;
        color: #077FFF;
        padding: .3rem 1rem;
        animation: shift 2s ease infinite;
        transition: all .2s linear;
        .after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            border-top: 2px solid #077FFF;
            border-right: 2px solid #077FFF;
            border-left: 2px solid #077FFF;
            border-radius: 12px 12px 0 0;
            transform: scale(0) translateY(-80px);
            transition: all .4s cubic-bezier(.53,.2,.54,1.33);
        }
        .before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            border-bottom: 2px solid #077FFF;
            border-right: 2px solid #077FFF;
            border-left: 2px solid #077FFF;
            border-radius: 0 0 12px 12px;
            transform: scale(0) translateY(80px);
            transition: all .4s cubic-bezier(.53,.2,.54,1.33);
        }
        &:after,
        &:before {
            content: attr(data-text);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: .3rem 1rem;
            opacity: .7;
            z-index: -1;
        }
        &:before {
            color: #cdebfc;
            animation: glitch .5s ease infinite;
        }
        &:after {
            color: #b9d7f5;
            animation: glitch .7s ease reverse infinite;
        }
        &:hover .after,
        &:hover .before {
            transform: scale(1) translateY(0);
        }
        @keyframes glitch {
            10% {transform: translate(2px, -2px);}  
            20% {transform: translate(-2px, -2px);}
            50% {transform: translate(2px, 2px);}
            74% {transform: translate(-2px, 2px);}
            to {transform: translate(0, 0);}
        }
        @keyframes shift {  
            from, 57%, 63%, 67%, 83%, to {transform: translate(0, 0) skew(0deg);}
            62% {transform: skew(-30deg);}
            66% {transform: skew(15deg);}
        } 
        @media(max-width: 825px) {
            display: none;
        }
    }
    .modal-quote {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 555;
        width: 100%;
        height: 100%;
        background: rgba(0, 0,0, .8);
        display: none;
        .popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 55%;
            height: 570px;
            padding: 3rem 2rem 2rem;
            background: #fff;
            border-radius: 5px;
            overflow: auto;
            @media (max-width: 1100px) {
                width: 65%;
            }
            @media (max-width: 575px) {
                width: 95%;
                margin: auto;
            }   
            h4 {
                margin: 0 0 1.5rem;
                padding-bottom: .5rem;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
            span.close {
                position: absolute;
                z-index: 2;
                top: 20px;
                right: 20px;
                display: block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 2rem;
                border: 1px solid #8a8a8a;
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                    color: #333;
                }
            }
            .form-popup {
                position: relative;
                .help-block {
                    display: none;
                    font-size: .9rem;
                }
                label {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    font-size: .9rem;
                    font-weight: 500;
                    color: #333;
                    pointer-events: none;
                    transition: all .5s linear;
                }
                input.form-control,
                textarea.form-control {
                    display: block;
                    background: none;
                    outline: none;
                    border: none;
                    box-shadow: none;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    margin-bottom: 1rem;
                    width: 100%;
                    &:focus + label,
                    &.valid + label {
                        left: 35px;
                        opacity: 0;
                    }
                }
                textarea.form-control {
                    margin-bottom: 0;
                    resize: none;
                }
            }
            & .has-error input {
                border-color: #dc3545;
            }
            & .has-error .help-block {
                color: #dc3545;
            }
            & .has-error label {
                color: #dc3545;
            }
            & .has-success input {
                border-color: #28a745;
            }
            & .has-success .help-block {
                color: #28a745;
            }
            & .has-success label {
                color: #28a745;
            }
            .btn-wrapper {
                display: inline-block;
                margin: 2rem 0 0;
                .submit-form {
                    background: none;
                    border: none;
                    box-shadow: none;
                    outline: none;
                    a.global-svg {
                        width: 120px;
                        &:hover rect {
                            stroke-dashoffset: 115;
                        }
                    }
                }
            }
            .right-col {
                @media (max-width: 992px) {
                    margin-top: 2rem;
                }
                h4 {
                    padding-bottom: .5rem;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                }
                li {
                    margin-bottom: .5rem;
                    font-size: .9rem;
                    font-weight: 500;
                    list-style-type: decimal-leading-zero;
                    margin-left: 1.5rem;
                }
                .directContact {
                    margin-top: 5.5rem;
                    @media (max-width: 992px) {
                        margin-top: 2rem;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        border: 1px solid rgba(0, 0, 0, .2);
                        margin: 1rem 0;
                        color: $primaryColor;
                        i {
                            display: block;
                            font-size: 1.5rem;
                            color: $mainColor;
                            margin-left: 1rem;
                        }
                        span.pipeline {
                            display: block;
                            font-size: 2.5rem;
                            margin-left: 1rem;
                            color: rgba(0, 0, 0, .2);
                        }
                        .block {
                            span {
                                display: block;
                                margin-left: 1rem;
                                &:nth-of-type(1) {
                                    font-size: 1.3rem;
                                    font-weight: 600;
                                }
                                &:nth-of-type(2) {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    a.ourPhone {
                        i {
                            transform: rotate(100deg);
                        }
                    }
                }
            }
        }
    }
}

// classes for js scripts

@media (min-width: 768px) {
    header.active .togglebutton:hover {
        padding-left: .6rem;
    }
}

header.active .togglebutton .bars {
    box-shadow: 100px -5px 10px #fff, -100px 5px 0 #fff;
    transform: translatey(0) rotate(-315deg);

    transition: box-shadow .3s .0s, transform .3s .2s;
}

header.active .togglebutton .bars:before {
    opacity: 1;
    top: 50%;
    transition-delay: .5s;
}

header.active .togglebutton span:not(.bars) {
    opacity: 0;
    transition-timing-function: ease;
}

// navbar  ( menu-links ) style

.menu-links {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;
    margin-left: 0;
    
    background: $primaryColor;
    transition: transform .8s .2s cubic-bezier(1, .005, .24, 1);
    z-index: 222;
    @media (min-width: 768px) {
        transform: translatey(-100%);
    }
    @media (max-width: 767px) {
        padding: 2rem 0;
        transform: scale(0);
    }
    & > li {
        position: relative;
        z-index: 2;
        height: 100vh;
        
        border-right: 1px solid #252526;
        padding-left: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        opacity: 0;
        transition: opacity 1s  ease-in-out;

        @media (max-width: 850px) and (min-width: 768px) {
            padding-left: 1.5rem;
        }
        @media (min-width: 768px) {
            &:nth-of-type(3){
                background: #3498db;
            }
            &:nth-of-type(4){
                background: #c0392b;
            }
            &:nth-of-type(5){
                background: #8e44ad;
            }
            &:nth-of-type(6){
                background: #27ae60;
            }
        }
        @media (max-width: 767px) {
            height: auto;
            align-items: center;
            border-right: 0;
            padding-left: 0;
            border-bottom: 1px solid #252526;
            margin: 0 3rem;

            &:last-of-type {
                border-bottom: none;
            }
        }
        &:last-of-type {
            border-right: none;
        }
        span {
            display: block;
            color: #eee;
            font-size: 1.2rem;
            transition: transform .5s ease-in-out;
            @media (max-width: 767px) {
                display: none;
            }
        }
        & > a {
            position: relative;
            display: inline-block;

            font-size: 2rem;
            font-weight: 500;
            color: #fff !important;

            text-transform: uppercase;
            transition: all .3s .3s ease-in-out;

            @media (max-width: 1200px) {
                font-size: 1.1rem;
            }
        }
        &:hover > span {
            @media (min-width: 768px) {
                transform: translateY(-1rem);
                transition: transform .3s .2s ease-in-out;
            }
        }
        &:hover > a {
            @media (min-width: 768px) {
                transform: translateY(-1rem);
                transition: transform .3s ease-in-out;
            }
        }
        .list-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: opacity .2s linear;
            @media (max-width: 767px) {
                display: none;
            }
        }
        &:hover .list-bg {
            opacity: .3;
            z-index: -1;
        }
    }
}

// classes for js click event scripts

header.active .menu-links {
    transform: translatey(0);
    transition: transform .6s cubic-bezier(1, .005, .24, 1);    
    @media (max-width: 767px) {
        transform: scale(1);
        transition: transform .6s cubic-bezier(1, .005, .24, 1);
    }
}
header.active .menu-links > li {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
@media (min-width: 768px) {
    header.active .menu-links > li:nth-of-type(1) {
        transition-delay: .2s;
    }
    header.active .menu-links > li:nth-of-type(2) {
        transition-delay: .4s;
    }
    header.active .menu-links > li:nth-of-type(3) {
        transition-delay: .6s;
    }
    header.active .menu-links > li:nth-of-type(4) {
        transition-delay: .8s;
    }
    header.active .menu-links > li:nth-of-type(5) {
        transition-delay: 1s;
    }
}